@use "variables" as *;

.current-weather {
  display: none;

  &--active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    text-shadow: $text-shadow;
  }
  &__city {
    font-size: 1.5rem;
    font-weight: 400;
  }

  &__current-temperature {
    font-size: 4.5rem;
    font-weight: 200;
    margin: 0.5rem 0;
  }

  &__current-condition {
    margin-bottom: 0.25rem;
  }
}

.loading-spinner.hidden {
  display: none;
}
