@use "variables" as *;
@use "sass:color";
@use "mixins" as *;
@use "currentWeather" as *;
@use "loadingSpinner" as *;
@use "todayForecast" as *;
@use "nextDaysForecast" as *;

* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  @include largeScreens {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: color.adjust($background, $lightness: 10%);
  }
}

#app {
  background: linear-gradient(0deg, $elevation-2 0%, $background 50%);
  color: $text-color;
  padding: 1rem;
  min-height: 100vh;
  font-family: $font-familiy;

  @include largeScreens {
    width: 400px;
    height: $max-height-desktop;
    min-height: unset;
    overflow: auto;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }
}
