@use "variables" as *;
@use "mixins" as *;

.forecast {
  @include card();
  margin-top: 2rem;

  &__title {
    @include cardHeader();
  }

  &__days {
    display: flex;
    flex-direction: column;
    gap: $card-header-gap;
    width: 100%;
  }
}

.forecast-day {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: $card-header-gap;
  border-bottom: $border;

  &:last-child {
    padding: 0;
    border: none;
  }

  &__day {
    width: 2rem;
  }

  &__icon {
    width: 2.5rem;
  }
}
